<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Index</title>
</head>
<body>
    <p>Some recipes n' such!</p>
    <ul>
        {% for r in recipes %}
        <li>
            <h3><a href="/recipe/{{r.id}}">{{ r.title }}</a></h3>
        </li>
        {% endfor %}
    </ul> 
    <h5>Looking for something?</h5>
        <ul>
            <li>Add Author: <a href="addauthor/"></a></li>
            <li>Add Recipe</li>
            <li>View Recipes</li>
            <li>View Authors</li>
            <li>Log In</li>
            <li>Log Out</li>
            <li>Sign Up</li>
        </ul> 
</body>
</html>