<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Index</title>
</head>
<body>
    <p>Some recipes n' such!</p>
    <ul>
        {% for r in recipes %}
        <li>
            <h3><a href="/recipe/{{r.id}}">{{ r.title }}</a></h3>
        </li>
        {% endfor %}
    </ul> 
    <h5>Looking for something?</h5>
        <ul>
            <li>Add Author:  </li>
                <p><a href="addauthor/">new author</a></p>
            <li>Add Recipe: </li>
                <p> <a href="addrecipe/">new recpipe</a></p>
            <li>View Recipes:  </li>
                <p><a href="recipe/">recipes</a></p>
            <li>View Authors:   </li>
                <p><a href="authors/">authors</a></p>
            <li>Log In:
                <p><a href="login/">login</a></p>
            </li>
            <li>Log Out:
                <p><a href="logout/">logout</a></p>
            </li>
            <li>Sign Up:
                <p><a href="signup/">sign-up</a></p>
            </li>
        </ul> 
</body>
</html>